:root {
    --button-background: black;
    --button-hover: grey;
    --button-text: white;

    --default-padding: 20px;
    --small-padding: 10px;
    --extra-padding: 30px;

    --section-spacing: 50px;

    --font-normal: 20px;
    --font-emphasis: 24px;
    --font-big: 30px;
    --font-huge: 48px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
}

nav,
ul#navigasjon {
    display: flex;
}

body {
    padding: var(--default-padding);
}
body,
main {
    display: flex;
    flex-direction: column;
    gap: var(--section-spacing);
    font-family: sans-serif;
}

nav,
.hero {
    font-family: serif;
}

#logo {
    font-size: var(--font-huge);
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    ul {
        display: flex;
        gap: var(--default-padding);
    }
}

.knapp {
    padding: var(--default-padding);
    text-decoration: none;
    text-transform: uppercase;
    color: var(--button-text);
    background: var(--button-background);
    display: flex; /* Nok til å sentrere vertikalt */
    width: fit-content; /* I stedet for display: inline-block */
    border: 0;
    font-family: sans-serif;
}

.knapp:hover {
    background: var(--button-hover);
}

.hero {
    position: relative; /* utgangspunkt for posisjonering av underelement */
    height: 65dvh; /* Ellers kollapser boksen fordi posisjoneringen av barna tar dem ut av vanlig dokument-flyt */

    .knapp {
        position: absolute;
        bottom: var(--section-spacing);
        right: var(--section-spacing);
        z-index: 4;
    }

    .slideshow {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: slideshow 24s infinite;

        /* fallback og utgangspunkt for slideshow */
        background: url("./images/aaron-lee-lbj3up5paWU-unsplash.jpg");
        background-position: center;
        background-size: cover;

        h2 {
            padding: var(--small-padding);
            font-size: var(--font-huge);
            color: white;
            background: black;
        }
    }
}

.hero .slideshow.photo-1 {
    background: url("./images/aaron-lee-lbj3up5paWU-unsplash.jpg");
    background-position: center;
    background-size: cover;
    animation-delay: 0s;
    z-index: 3; /* Korrigerer rekkefølgen elementene vises i med tanke på slideshow (siste element blir først uten) */
}

.hero .slideshow.photo-2 {
    background: url("./images/darwin-boaventura-gIAHr4wToI0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    animation-delay: 8s;
    z-index: 2;
    opacity: 0; /* La utgangspunktet være usynlig, unngår at bildet "flasher" frem før det skal */
}

.hero .slideshow.photo-3 {
    background: url("./images/kwami-fattah-al-sissi-PYwVzwsvHqM-unsplash.jpg");
    background-position: center;
    background-size: cover;
    animation-delay: 16s;
    z-index: 1;
    opacity: 0; /* La utgangspunktet være usynlig, unngår at bildet "flasher" frem før det skal */
}

@keyframes slideshow {
    /* Denne koden er i stor grad hentet fra tutorial på https://www.w3.org/Style/Examples/007/slideshow.en.html */
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    33% {
        opacity: 1;
    }
    38% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.introduksjon {
    text-align: center;
    font-size: var(--font-emphasis);
    display: flex;
    flex-direction: column;
    gap: var(--default-padding);
}

.workshop {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: var(--small-padding);
    font-size: var(--font-emphasis);
    margin-top: var(--default-padding);
    align-items: center;

    img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    h3 {
        padding-top: var(--default-padding);
    }

    .beskrivelse {
        font-size: var(--font-normal);
        align-self: start;
    }

    .sitat {
        font-size: var(--font-normal);
        font-style: italic;
        padding-bottom: var(--extra-padding);
    }
}

.fordeler {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--extra-padding);
    background: whitesmoke;
    padding: var(--section-spacing);
}

.salgspoeng {
    display: grid;
    grid-template-columns: 500px 120px;
    gap: var(--default-padding);
    align-items: center;
    font-size: var(--font-emphasis);

    img {
        height: 100px;
        aspect-ratio: 1/1; /* tilsvarer width: 100px; i dette tilfelle men aspect-ratio trengs ikke endres om height endres */
        object-fit: cover;
        border-radius: 50%;
    }
}

.fordeler .oppsummering {
    font-size: var(--font-big);
}

.oppfordring {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--font-emphasis);
    gap: var(--default-padding);
}

#bestillingsskjema {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: var(--default-padding);
}

.skjema-felt {
    display: flex;
    flex-direction: column;

    &.span-2 {
        grid-row-start: span 2;
    }

    input,
    select {
        height: 2em;
    }

    textarea {
        height: 100%;
    }
}

#bestillingsskjema button.knapp {
    justify-self: end;
}

#takkForBestillingen:open {
    /* Layout */
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    gap: 40px;

    /* Posisjoner dialogen midt på siden selv om den ligger utenfor dokument-flyten */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Lag mørkere skygge */
    &::backdrop {
        background: rgba(0, 0, 0, 0.8);
    }
}
footer {
    display: flex;
    justify-content: space-around;
}
.footer-kolonne,
.sosiale-knapper {
    display: flex;
    flex-direction: column;
}
.sosiale-knapper img {
    height: 30px;
}
